<div class="container vh-100 d-flex flex-column">
<div class="d-flex justify-content-around fixed-top pt-2 align-items-center heading-actions">
<%= link_to groups_path do %>
  <span class="arrow"><i class="uil uil-arrow-left icon"></i></span>
<% end %>
<h1>Add Category</h1>
<i class="uil uil-search"></i>
</div>

<%= form_for(@group) do |f| %>
  <div class="m-2">
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "Enter category name" %>
</div>

<div class="m-2">

  <%= f.label :icon %>
  <%= f.text_field :icon, autofocus: true, autocomplete: "icon", class: "form-control", placeholder: "Enter icon url"  %>
</div>
  <%= f.submit 'Create Category', class: "btn btn-primary add-new m-2" %>
<% end %>
</div>
