<h1>New Payment</h1>

<%= form_for([@group, @payment]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :amount %>
  <%= f.number_field :amount %>

  <!-- Allow the user to select multiple groups -->
  <%= f.collection_check_boxes :group_ids, Group.all, :id, :name %>

  <%= f.submit 'Create Payment' %>
<% end %>


